*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

body{
    background-color: black;
}

.container{
    min-height: 100vh;
    width: 100%;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.card-select-input{
    height: 70px;
    width: 15%;
    color: rgb(69, 48, 0);
    background: linear-gradient(130deg, rgb(255, 221, 99),rgb(255, 243, 199),rgb(255, 221, 99),rgb(255, 221, 99),rgb(184, 130, 30),rgb(184, 130, 30),rgb(238, 201, 67));
    border-radius: 100px;
    text-align: center;
    font-size: 25px;
    border:2px solid rgb(255, 221, 99) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.card-select-input::-webkit-scrollbar{
    background:black;
    width: 7px;
}

.card-select-input::-webkit-scrollbar-thumb{
    background:rgb(255, 255, 255);
    border-radius: 50px;

}

option{
    background-color:rgb(26, 26, 26);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

nav{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: fit-content;
    display: flex;
    padding: 20px 10% ;
    z-index: 1000;
}

.nav-group{
    border-radius: 100px;
    padding: 10px ;
    justify-content: space-between;
    display: flex;
    width: 100%;
    background:url('./green.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background: linear-gradient(130deg, rgb(151, 151, 151),rgb(242, 242, 242),rgb(194, 194, 194),rgb(194, 194, 194),rgb(117, 117, 117),rgb(86, 86, 86),rgb(177, 177, 177)); */
    border: 6px double rgb(72, 42, 7);


}

.card {
    min-width: 120px;
    height: 150px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    position: relative;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    transform: perspective(100px) rotateX(2deg);
    transition: 0.5s all linear;
}


.card::after{
    border-radius: 10px;
    content: '';
    inset: 0;
    position: absolute;
    background: linear-gradient(-25deg,rgba(0, 0, 0, 0.24), rgba(255, 255, 255, 0.233), rgba(0, 0, 0, 0.171));
}

.card-container{
    width: 100%;
    display: flex;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
}

.user-count{
    place-self: center;
    width: 10%;
    height: fit-content;
    border: 2px solid rgb(255, 221, 99);
    background: linear-gradient(130deg, rgb(255, 221, 99),rgb(255, 243, 199),rgb(255, 221, 99),rgb(255, 221, 99),rgb(184, 130, 30),rgb(184, 130, 30),rgb(238, 201, 67));
    border-radius: 100px;
    margin: 10px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 60px;
    position: fixed;
    color: rgb(95, 66, 0);
}

.card-backside {
    min-width: 120px;
    height: 170px;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    margin: 10px;
    display: inline-block;
    background: url('./cartas/red_back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    filter: brightness(0.8) hue-rotate(42deg);
    transition: 0.9s all linear;
    right: 15%;
    top: 7%;
}

.card-backside::after{
    border-radius: 10px;
    content: '';
    inset: 0;
    position: absolute;
    background: linear-gradient(-25deg,rgba(0, 0, 0, 0.24), rgba(255, 255, 255, 0.281), rgba(0, 0, 0, 0.171));
}

.container-carteles{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
    transition: all 0.2s linear;
    z-index: 99999;
}

.perdiste,.ganaste{
    height: 50%;
    min-width: 30%;
    width: fit-content;
    background: url('green.png');
    border: 10px rgb(103, 36, 8) double;
    border-radius: 100px 0 100px 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s linear;
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:  25px;
    box-sizing: border-box;
    padding:0 20px;

}   

.perdiste button,.ganaste button{
    padding: 5px 10px;
    background: linear-gradient(130deg, rgb(255, 221, 99),rgb(255, 243, 199),rgb(255, 221, 99),rgb(255, 221, 99),rgb(184, 130, 30),rgb(184, 130, 30),rgb(238, 201, 67));
    border: 2px solid rgb(255, 221, 99) ;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 800;
    padding:10px 30px;
    font-size: 20px;
}

.container-carteles p{
    font-size: 70px;
    color: white;
}

.ganar,.perder,.quedarse{
    background:url('./green.png');
    border: 10px rgb(103, 36, 8) double;
    padding: 10px 0 ;
    border-radius: 20px;
    width: 100%;
    padding: 10px 20px;
}

.posibilidad{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 200px;
    padding: 20px;
    color: white;
    gap: 10px;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.card-s{
    min-width: 75px;
    height: 95px;
    border-radius: 5px;
    text-align: center;
    font-size: 24px;
    position: relative;
    margin: 10px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.perdiste-cards,.ganaste-cards{
    height: fit-content;
    display: flex;
}

@media screen and (max-width: 1000px) {
    nav{
        padding: 0;
    }

    .nav-group{
        border-radius: 0;
        gap: 10px;
    }

    .card-select-input{
        flex:1;
        border-radius: 10px;
    }

    .ganar,.perder,.quedarse{
        padding: 10px 0;
        margin-bottom: 112px;
        text-align: center;
        box-sizing: border-box;
    }

    .posibilidad{
        padding: 0;
        right: 0;
        flex-direction: row;
        align-items: end;
        gap: 0;
        width: 100%;
        margin: 0;
    }
}